.float {
  float: left;
  height: 100%;
}
.divider {
  margin: 30px 100px;
  border-bottom: 1px solid;
  border-color: rgba(128, 128, 128, 0.13);
  padding: 30px 0;
}
button {
  margin-left: 10px;
}
.view {
  padding: 6px 10px;
  background-color: #3527b0;
  border-radius: 3px;
  color: white;
}
.save {
  padding: 6px 10px;
  background-color: #27b06c;
  border-radius: 3px;
  color: white;
}
.delete {
  padding: 6px 10px;
  background-color: #b06927;
  border-radius: 3px;
  color: white;
}
.input {
  margin-right: 20px;
}
.saved {
  margin-left: 10px;
  color: grey;
}
.wrapper-book {
  display: table;
  height: 100% !important;
}
.divider {
  height: 100%;
}
